result/
result


tensorboard/
__pycache__/
test_imgs/
temp_dir

/.idea
.DS_Store

/checkpoints/sam_vit_b_01ec64.pth

/utils/dataset/CAMUS_public/
/utils/dataset/EchoNet-Dynamic/
sam_vit_b_01ec64.pth
/utils/dataset/SAMUS
